html, body {
  margin: 0;
  padding: 0;
  background-color:rgb(34,139,34);
}
canvas {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
h1{
  color:rgb(0);
  font-family:sans-serif;
}
h8{
  color:rgb(0);
  font-family:sans-serif;
}
