html, body {
  margin: 0;
  padding: 0;
  background-color:rgb(238,130,238);
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
h1{
  color:rgb(0);
  font-family:sans-serif;
}
